body{
  margin: 0;
  box-sizing: border-box;

}

.container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image{
  width:10%;
  height: 5%;
}
@media (max-width:770px){
  .container{
    margin:0, 10px;

  }
  .image{
    width:100%;
    
  }
}